<h1><%= @person.name %></h1>
<h2>Projects</h2>

<ul>
  <% @projects.each do |project| %>
    <li><%= project.name %></li>
  <% end  %>
</ul>

<%= form_for [@person] do |f| %>
  <%= f.collection_select(:projects, @projects_no_associated, :id, :name) %>
  <%= f.submit 'Save' %>
<% end %>
